{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Dashboard Cards -->
        <div class="col-md-3 mb-4">
            <div class="card text-white bg-warning shadow h-100 py-2">
                <div class="card-body">
                    <h5 class="card-title">My Leaves</h5>
                    <h2>{{ my_leaves }}</h2>
                </div>
            </div>

        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-white bg-primary shadow h-100 py-2">
                <div class="card-body">
                    <h5 class="card-title">Current Month Leaves</h5>
                    <h2>{{ current_month_leaves }}</h2>
                </div>
            </div>

        </div>




    </div>
</div>
{% endblock %}
